* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: rebeccapurple;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 90%;
    height: 50vh;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 0px 40px -2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
    .form h2 {
        font-size: 35px;
        margin: 5px;
    }
    .form>input {
        margin: 15px;
        padding: 7px;
        border-radius: 15px;
        border: none;
        box-shadow: 2px 5px 30px -5px black;
        width: 90%;
    }
        .form>input:focus {
            outline: none;
        }
    div.check {
        font-size: 10.5px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
        div.check label {
            margin-left: 5px;
        }
    .btnSign {
        background-color: rebeccapurple;
        padding: 8px 20px;
        margin: 15px;
        border-radius: 15px;
        color: white;
        box-shadow: 2px 5px 30px -7px black;
        font-size: 15px;
    }
        .btnSign:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
